UFP_USERNAME='...'
UFP_PASSWORD='...'
UFP_ADDRESS='...'
UFP_SSL_VERIFY='...'
ONLY_CAMERAS='...'
UNIFI_DATA_PATH='./unifi_data/data'
UNIFI_DB_PATH='./unifi_data/db'
FOLLOWUP_SCRIPTS_PATH='./scripts'
FOLLOWUP_SCRIPT='sample-followup.sh'
ADDITIONAL_PYTHON_PACKAGES=""